/** HOMEPAGE RELATED SCSS **/

//======= VARIABLES
@use "variables" as vars; //GLOBAL VARIABLES

// page wide used dots
@mixin dots {
  .dots {
    display: flex;
    gap: 10px;

    .dot {
      width: 1.3rem;
      height: 1.3rem;
      background-color: vars.$mainColor2;
      box-shadow: 0 0px 20px vars.$mainColor;

      border-radius: 100%;
    }
  }
}

/** ------ [ HOMEPAGE ] ------- **/
.Homepage {
  background-color: vars.$backgroundColor;
}

/** ------ [ HERO SECTION ] ------- **/
.Hero-Section {
  position: relative;
  height: 60rem;

  display: flex;
  justify-content: center;
  align-items: center;

  .WRAPPER {
    height: 100%;
    width: 100%;
    max-width: vars.$max-width;

    .img {
      height: 100%;
      width: 100%;
      max-width: vars.$max-width;
      background-color: grey;

      display: flex;
      justify-content: center;
      flex-direction: column;
      object-fit: cover;
      align-items: center;

      background: url("/src/imgs/Hero.svg") center center/cover;
    }

    .content {
      position: relative;

      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 20px;

      width: 80%;

      min-width: 500px;
      max-width: 1200px;
      margin-bottom: 5rem;

      padding: 40px 80px;
      color: white;

      .Header-Text {
        font-size: clamp(35px, 6vw, 70px);
        font-family: vars.$header-text;
        width: 100%;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);

        .colored {
          color: vars.$textColorHighlihgt;
          // text-shadow: 2px 2px 60px vars.$mainColor;
        }
      }
    }

    .sub-text {
      font-family: vars.$secondary-text;
      background-color: rgba(0, 0, 0, 0.412);
      width: 100%;
      padding: 5px 5px;

      font-size: clamp(16px, 2vw, 20px);
      border-radius: 10px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.477);
    }

    button {
      padding: 10px 50px;
      border-radius: 10px;

      background-color: vars.$mainColor;
      font-family: vars.$header-text;
      font-size: clamp(11px, 1.8vw, 16px);

      color: white;
      border: none;

      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.477);

      transition: background-color 0.3s ease;
      &:hover {
        background-color: vars.$mainColor2;
      }
    }

    .content-2 {
      position: absolute;
      bottom: 120px;

      // padding-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .arrow {
        background-image: url("/src/imgs/Arrow.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: max(2rem, 5vw);
        height: max(2rem, 4vw);
        max-width: 3rem;
        max-height: 3rem;

        opacity: 0.8;

        //--------------------
        animation: fadeInOut 40s infinite ease-in-out;
        @keyframes fadeInOut {
          0% {
            opacity: 0;
          }
          25% {
            opacity: 0.8;
          }
          50% {
            opacity: 0;
          }
          75% {
            opacity: 0.8;
          }
          100% {
            opacity: 0;
          }
        }
        //--------------------
      }
    }

    //RESPONSIVE
    @media (max-height: 900px) {
      height: 50rem;
    }
  }
}

/** ------ [ SERVICES SECTION ] ------- **/

.Services-Section {
  padding: 0px 10%;
  padding-top: 50px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;

  .WRAPPER {
    height: 100%;
    width: 100%;
    max-width: vars.$max-width;

    .header-section {
      font-family: vars.$header-text;
      color: white;

      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 10px;

      .header {
        font-weight: 600;
        font-size: clamp(40px, 5vw, 55px);

        .Colored {
          color: vars.$textColorHighlihgt;
          text-shadow: 2px 2px 15px vars.$mainColor;
        }
      }

      .sub-header {
        font-size: clamp(16px, 2vw, 20px);
        font-weight: 300;
        opacity: 0.9;
        font-family: vars.$secondary-text;
      }
    }

    .top-dots {
      margin-top: 30px;

      display: flex;
      justify-content: space-between;
      padding: 8px 30px;

      @include dots;
    }

    .Content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      gap: 20px;
      padding: 10px 10px;
      padding-top: 5px;

      .item {
        overflow: hidden;
        color: white;
        min-width: 350px;

        height: auto;

        .img {
          width: 100%;
          height: 20rem;

          border-radius: 20px;

          display: flex;
          justify-content: center;
          align-items: flex-end;
          text-align: center;
          overflow: hidden;
          margin-bottom: 30px;

          &.img1 {
            background: url("/src/imgs/Service1.svg") center center/cover;
          }

          &.img2 {
            background: url("/src/imgs/Service2.svg") center center/cover;
          }

          &.img3 {
            background: url("/src/imgs/Service3.svg") center center/cover;
          }

          .header {
            width: 100%;
            margin-bottom: 0;
            padding: 1rem 1rem;

            font-family: vars.$header-text;
            font-size: clamp(18px, 2vw, 20px);

            text-align: center;

            background-color: rgba(0, 0, 0, 0.664);

            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
          }
        }

        .Line {
          width: 20px;
          height: 4px;
          background-color: vars.$mainColor;
          margin: 15px auto;
          border-radius: 2px;
          box-shadow: 2px 2px 15px vars.$mainColor;
        }

        .Description {
          font-size: clamp(18px, 2.2vw, 22px);

          // height: 100%;
          line-height: 1.8;
          font-family: vars.$secondary-text;
          font-weight: lighter;
          padding: 0 10%;
          opacity: 0.8;
          text-align: center;
        }

        //RESPONSIVE
        @media (max-width: 900px) {
          margin-bottom: 20px;
        }
      }
    }
  }
}

/** ------ [ WHY US SECTION ] ------- **/
.WhyUs-Section {
  padding: 80px 10%;
  margin-bottom: 4rem;

  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;

  .WRAPPER {
    height: 100%;
    width: 100%;
    max-width: vars.$max-width;
  }

  .header-section {
    font-family: vars.$header-text;
    color: white;

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;

    .header {
      font-weight: 600;
      font-size: clamp(40px, 5vw, 55px);

      .Colored {
        color: vars.$textColorHighlihgt;
        text-shadow: 2px 2px 15px vars.$mainColor;
      }
    }

    .sub-header {
      font-size: clamp(16px, 2vw, 20px);
      font-weight: 300;
      opacity: 0.9;
      font-family: vars.$secondary-text;
    }
  }

  .Content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 25px;
    padding: 10px 10px;
    border-radius: 20px;

    .item {
      overflow: hidden;
      min-width: 485px;

      &.text-content {
        text-align: start;
        display: flex;
        flex-direction: column;
        gap: 60px;
      }

      .feature-item {
        border-left: 5px solid transparent;
        transition: all 0.3s ease;
        cursor: pointer;
        color: white;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;

        &.active {
          border-color: vars.$mainColor;
          color: vars.$mainColor;
          text-shadow: 2px 2px 15px vars.$mainColor;
        }

        .header {
          padding-left: 4%;
          font-size: clamp(24px, 4vw, 30px);

          font-weight: 400;
          font-family: vars.$secondary-text;
        }

        .sub {
          padding-left: 11%;
          font-size: clamp(16px, 2.2vw, 20px);
          font-weight: 300;
          margin-bottom: 0;
          opacity: 0.9;
        }
      }

      &.images {
        height: 30rem;

        position: relative;
        width: 100%;

        border-radius: 10px;
        overflow: hidden;

        .us-img {
          position: absolute;
          top: 0;
          left: 0;

          width: 100%;
          height: 100%;
          border-radius: 10px;
          opacity: 0;
          transition: opacity 0.5s ease;

          &.active {
            opacity: 1;
            z-index: 1;
          }

          &.img1 {
            background: url("/src/imgs/Why1.svg") center center/cover;
          }
          &.img2 {
            background: url("/src/imgs/Why2.png") center center/cover;
          }
          &.img3 {
            background: url("/src/imgs/Why3.png") center center/cover;
          }
        }
      }

      //RESPONSIVE
      @media (max-width: 600px) {
        min-width: 300px;

        &.images {
          height: 20rem;
        }
      }
    }
  }

  .bottom-dots {
    display: flex;
    justify-content: flex-end;
    padding: 8px 20px;

    @include dots;
  }
}

/** ------ [ TESTIMONIALS SECTION ] ------- **/
.Testimonials-Section {
  padding: 20px 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 25px;

  align-items: center;

  .WRAPPER {
    height: 100%;
    width: 100%;
    max-width: vars.$max-width;
  }

  .header-section {
    font-family: vars.$header-text;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    .header {
      font-size: clamp(40px, 5vw, 55px);
      font-weight: 600;

      &.Colored {
        color: vars.$textColorHighlihgt;
        text-shadow: 2px 2px 15px vars.$mainColor;
      }
    }

    .sub-header {
      font-size: clamp(16px, 2vw, 20px);
      font-weight: 300;
      opacity: 0.9;
      font-family: vars.$secondary-text;
    }
  }

  .Content {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px 2%;
    flex-wrap: wrap;
    flex-direction: row;

    .item {
      padding: 0;

      display: flex;
      justify-content: center;
      flex-direction: column;
      min-width: 300px;

      .box {
        background-color: black;
        padding: 30px 3%;
        border-radius: 20px;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        .stars {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          width: 100%;

          .star {
            background: url("/src/imgs/Star.svg") center center/cover;
            height: 3rem;
            width: 3rem;
          }
        }

        .description {
          color: white;
          font-size: clamp(16px, 2vw, 25px);
          font-family: vars.$secondary-text;
          font-weight: 300;
          opacity: 0.9;
          width: 100%;
        }
      }

      .author {
        color: white;
        font-family: vars.$header-text;
        padding: 5px 1.5%;
        margin-top: 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;

        .name {
          font-size: clamp(20px, 3vw, 28px);
        }

        .title {
          font-size: clamp(17px, 2vw, 20px);
          font-weight: 200;
          opacity: 0.9;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .Testimonials-Section {
    padding: 20px 5%;
    .Content {
      flex-direction: column;
      padding: 10px 0%;
      .item {
        min-width: unset;
        width: 100%;
      }
    }
  }
}

/** ------ [ CTA SECTION ] ------- **/
.CTA-Section {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  .WRAPPER {
    height: 100%;
    width: 100%;
    max-width: vars.$max-width;
  }

  .img {
    width: 100%;
    height: 100%;

    padding: 70px 0px;

    background: url("/src/imgs/CTA.png") center center/cover;

    .text-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 35px;

      color: white;

      .header {
        font-size: clamp(42px, 5.5vw, 60px);

        font-family: vars.$header-text;
        font-weight: 600;

        width: 100%;
        text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);

        .Colored {
          color: vars.$textColorHighlihgt;
        }
      }

      .buttons {
        padding: 13px 10px;
        border-radius: 20px;

        display: flex;
        justify-content: center;
        text-align: center;
        gap: 25px;
        margin-left: 10px;

        button {
          padding: 8px 30px;
          border-radius: 15px;
          border: none;

          font-weight: bold;
          font-size: clamp(13px, 1.5vw, 14px);
          font-family: vars.$header-text;
          text-decoration: none;

          height: 3.5rem;
          color: white;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.477);
        }

        .quote {
          background-color: vars.$mainColor2;
          border: 2px solid vars.$mainColor;
          text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.527);

          transition: background-color 0.3s ease;
          &:hover {
            background-color: vars.$mainColor;
          }
        }

        .schedule {
          background-color: rgba(255, 255, 255, 0.837);
          border: 2px solid white;

          padding-left: 50px;
          padding-right: 50px;
          text-shadow: 1px 1px 4px rgb(0, 0, 0);

          transition: background-color 0.3s ease;
          &:hover {
            background-color: white;
          }
        }

        @media (max-width: 500px) {
          button,
          a {
            height: auto;
          }
        }
      }
    }
  }
}
