/** HOMEPAGE RELATED SCSS **/

//======= VARIABLES
@use "variables" as vars; //GLOBAL VARIABLES

// page wide used dots
@mixin dots {
  .dots {
    display: flex;
    gap: 10px;

    .dot {
      width: 1.3rem;
      height: 1.3rem;
      background-color: vars.$mainColor2;
      box-shadow: 0 0px 20px vars.$mainColor;

      border-radius: 100%;
    }
  }
}
/** ------ [ IT HEALTH CHECK PAGE ] ------- **/
.HealthCheck {
  .Content {
    padding-top: 7rem;
    padding-bottom: 2%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @mixin dot {
      width: 1.3rem;
      height: 1.3rem;
      background-color: vars.$mainColor2;
      box-shadow: 0 0px 20px vars.$mainColor;

      margin-left: 5px;
      border-radius: 100%;
    }

    .header-section {
      font-family: vars.$header-text;
      color: white;

      width: 100%;

      padding-left: 10%;
      padding-right: 10%;

      display: flex;
      justify-content: center;

      .WRAPPER {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 5px;

        height: 100%;
        width: 100%;
        max-width: vars.$max-width;

        .header {
          font-weight: 600;
          font-size: clamp(40px, 5vw, 50px);
          line-height: 1.3;
          color: white;
        }

        .sub-header {
          font-size: clamp(18px, 2vw, 24px);
          font-weight: 300;
          opacity: 0.9;
          font-family: vars.$secondary-text;
        }

        .Colored {
          color: vars.$textColorHighlihgt;
          text-shadow: 2px 2px 15px vars.$mainColor;
        }
      }
    }

    .content-section {
      background-color: vars.$backgroundColor;
      width: 100%;
      padding: 40px 10px;

      display: flex;
      justify-content: center;

      padding-left: 10%;
      padding-right: 10%;

      .WRAPPER {
        height: 100%;
        width: 100%;
        max-width: vars.$max-width;

        display: flex;
        flex-direction: column;
        gap: 30px;
      }

      .section1 {
        border-radius: 20px;
        display: flex;
        justify-content: center;
        gap: 10%;
        padding: 40px 20px;

        .item {
          padding: 0;

          display: flex;
          justify-content: flex-start;
          flex-direction: column;

          gap: 4px;
          min-width: 300px;
          height: 30rem;

          color: white;
          .dots {
            display: flex;
            gap: 7px;
            margin-bottom: 5px;

            .dot {
              @include dot;
            }
          }

          .img {
            height: 18rem;
            border-radius: 10px;

            position: relative;

            &.img1 {
              background: url("/src/imgs/HealthCheck-2.png") center center/cover;
            }

            &.img2 {
              background: url("/src/imgs/HealthCheck-1.png") center center/cover;
            }

            .header {
              position: absolute;
              right: -40px;
              margin-top: -30px;
              width: 60%;

              border-radius: 8px;
              padding: 0.7rem 0.5rem;

              background-color: rgba(0, 0, 0, 0.8);
              font-family: vars.$header-text;

              font-size: clamp(12px, 2vw, 16px);
              text-align: center;
            }
          }

          .Line {
            width: 20px;
            height: 4px;
            background-color: vars.$mainColor;
            margin: 15px auto;
            border-radius: 2px;
            box-shadow: 2px 2px 15px vars.$mainColor;
          }

          .Description {
            font-size: clamp(18px, 2.2vw, 22px);

            line-height: 1.8;
            font-family: vars.$secondary-text;
            font-weight: lighter;
            padding: 0 10%;
            opacity: 0.8;
            text-align: center;
          }

          @media (max-width: 817px) {
            margin-bottom: 30px;
          }
        }
      }

      .section2 {
        padding: 40px 0;

        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;

        .header-section {
          font-family: vars.$header-text;
          color: white;

          display: flex;
          justify-content: center;
          flex-direction: column;
          gap: 10px;
          margin-bottom: 30px;

          .header {
            font-weight: 600;
            font-size: clamp(40px, 5vw, 50px);
            line-height: 1.4;
          }

          .Colored {
            color: vars.$textColorHighlihgt;
            text-shadow: 2px 2px 15px vars.$mainColor;
          }
        }

        $width: 60%;
        $maxWidth: 750px;
        $minWidth: 500px;

        .formWrapper {
          background-color: black;
          padding: 40px 40px;
          z-index: 2;
          margin-bottom: 5px;

          border-radius: 10px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;

          width: $width;
          max-width: $maxWidth;
          min-width: $minWidth;

          form {
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: start;
            gap: 5px;

            width: 100%;
            height: 100%;
            label {
              color: white;

              font-size: 18px;
              font-family: vars.$header-text;
            }

            input,
            textarea {
              background-color: vars.$formInputColor;
              font-family: vars.$header-text;

              border: none;
              font-size: 14px;
              font-weight: bold;
              padding-left: 5px;

              height: 2.5rem;
              margin-bottom: 25px;
            }

            textarea {
              padding-top: 8px;
              height: 8rem;
            }

            .buttonWrapper {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 10px;

              button {
                background-color: vars.$mainColor2;
                border: 2px solid vars.$mainColor;

                color: white;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
                height: 3rem;
                font-weight: 600;
                width: 30%;
                min-width: 120px;
                font-size: 100%;
                border-radius: 3rem;
                box-shadow: 2px 2px 15px vars.$mainColor;

                transition: background-color 0.3s;
                &:hover {
                  background-color: vars.$mainColor;
                }
              }
            }
          }

          @media (max-width: 817px) {
            width: 100%;
            min-width: 100%;
          }
        }

        .bottom-dots {
          margin-top: 7px;

          display: flex;
          justify-content: space-between;

          width: $width;
          min-width: $minWidth;
          max-width: $maxWidth;
          .dots {
            display: flex;
            gap: 7px;

            .dot {
              @include dot;
            }
          }

          @media (max-width: 817px) {
            width: 100%;
            min-width: 100%;
          }
        }

        @media (max-width: 817px) {
          padding-top: 20px;
        }
      }
    }
  }
}
