/** GLOBAL VARIABLES **/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap");

$backgroundColor: #0e0e0e;
$mainColor: #e62acd;
$mainColor2: #e62acdc5;
$textColorHighlihgt: #e62acd;

$formInputColor: #d8d8d8;
$header-text: "Montserrat", sans-serif;
$secondary-text: "Roboto", sans-serif;

$max-width: 3000px;

//alt colors:
// $mainColor: #2ac0e6;
// $mainColor2: #2ab1e6c5;
// $textColorHighlihgt: #2ab1e6;
