//THIS IS THE MAIN SCSS FILE.

//IMPORT ALL OTHER PAGES TO MAIN FILE
@use "partials/navbar";
@use "./partials/homepage";
@use "partials/IT_health_check";
@use "partials/services";
@use "partials/about";
@use "partials/footer";

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgb(1, 1, 1);
}
